<div class="bg-main">
  <div class="container-fluid main-container d-flex flex-column align-items-center">
    <div class="animation-container" [@slideInOut]="animationState">
      <div class="animation-child" *ngIf="animationState === 0">
        <app-home-slide></app-home-slide>
      </div>
      <div class="animation-child" *ngIf="animationState === 1">
        <app-splash-slide></app-splash-slide>
      </div>
      <ng-container *ngFor="let question of questions">
        <div class="animation-child" *ngIf="animationState === question.step">
          <app-mcq-question [question]="question.question" [answers]="question.answers" [color]="question.color"></app-mcq-question>
        </div>
      </ng-container>
      <ng-container *ngFor="let select of selects">
        <div class="animation-child" *ngIf="animationState === select.step">
          <app-select [question]="select.question" [placeholder]="select.placeholder" [options]="select.options"></app-select>
        </div>
      </ng-container>
      <div class="animation-child" *ngIf="animationState === 7">
        <app-map-select></app-map-select>
      </div>
      <div class="animation-child" *ngIf="animationState === 8">
        <app-project-splash></app-project-splash>
      </div>

      <div class="animation-child" *ngIf="animationState === 13">
        <app-money-splash></app-money-splash>
      </div>
    </div>
    <div class="nav-container">
      <button (click)="decrementState()" class="navigation-btn left">
        <img src="assets/icons/ic-chevron-left.svg" alt="">
      </button>

      <button (click)="incrementState()" class="navigation-btn right">
        <img src="assets/icons/ic-chevron-right.svg" alt="">
      </button>
    </div>
  </div>
</div>
